.posts {
  h1::before {
    content: '#₀ ';
    font-family: $font-mono-stack;
  }
  
  h2::before {
    content: '#₁ ';
    font-family: $font-mono-stack;
  }

  h3::before {
    content: '#₂ ';
    font-family: $font-mono-stack;
  }

  h4::before {
    content: '#₃ ';
    font-family: $font-mono-stack;
  }

  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    // Default
    border-bottom: 1px solid $light-border-color;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $dark-border-color;
    }
  
    @media (prefers-color-scheme: light) {
      border-bottom: 1px solid $light-border-color;
    }
  
    [data-theme=dark] & {
      border-bottom: 1px solid $dark-border-color;
    }
  
    [data-theme=light] & {
      border-bottom: 1px solid $light-border-color;
    }
  }

  .post {
    &-item {
      display: flex;
      align-items: stretch;
      padding: 0.4rem 0;
      overflow-wrap: break-word;
      @media #{$media-size-phone} {
        flex-direction: column;
      }
    }

    &-title {
      margin-right: 1.5rem;
      a {
        font-size: 1rem;
        text-decoration: none;
      }
    }

    &-day {
      white-space: nowrap;
      margin-right: 1.5em;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      @include dimmed;
    }

    &-info {
      margin-left: auto;
      white-space: nowrap;
      display: flex;
      align-items: center;
      @media #{$media-size-phone} {
        margin: 0;
      }
    }
  }
}

.hover-underline {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    [data-theme=dark] & {
      background-color: $dark-color;
    }
    [data-theme=light] & {
      background-color: $light-color;
    }
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
  }
  &:hover:after {
    visibility: visible;
    transform: scaleX(1);
  }
}