{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        {{/*  <h1>{{ .Title }}</h1>  */}}

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <span class="post-day">
                                {{ if .Site.Params.dateformNum }}
                                    {{ .Date.Format .Site.Params.dateformNum }}
                                {{ else }}
                                    {{ .Date.Format "2023/03/23"}}
                                {{ end }}
                            </span>
                            <div class="post-title">
                                <a class="hover-underline" href="{{.Permalink}}">{{.Title}}</a>
                            </div>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
