{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        <hr />

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006-01" }}
            <div class="posts-group">
                <h2>{{ .Key }}</h2>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <div class="post-day">
                                <span>
                                    {{ if .Site.Params.dateformNum }}
                                        {{ .Date.Format .Site.Params.dateformNum }}
                                    {{ else }}
                                        {{ .Date.Format "2023-03-23"}}
                                    {{ end }}
                                </span>
                            </div>

                            <div class="post-title">
                                <a class="hover-underline" href="{{.Permalink}}">{{.Title}}</a>
                            </div>

                            <div class="post-info">
                                {{ range .Params.tags }}
                                <span class="tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}/">{{. | urlize }}</a></span>
                                {{ end }}
                            </div>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
